@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

@import url("https://use.typekit.net/qtu6bbn.css");

.nav-font{
font-family: aktiv-grotesk,sans-serif;
}

 /*PARALLAX STYLING*/

 #section1 {
  height: 50vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  /* scroll-snap-type: y mandatory; */
}

.img {
  max-height: 400px;
  /* overflow: hidden; */
}



.specialimg{
  width: 250px;
}

.gallerygrid{
  grid-template-columns: 10% 45% 45%;
}

.gallerygridsm{
  grid-template-columns: 10% 90%;
}

}



